<div class="container" style="min-height: 500px;">
 
  

  <div class="card" style="margin-top: 5%;">
    <div class="card-header">
      Apply For Loan
    </div>
    <div class="card-body">
      <h5 class="card-title">Individual Loan</h5>
      <p class="card-text">You can apply for a personal loan here.</p>
      <a href="/credit/apply" class="btn btn-primary">Apply Loan</a>
    </div>
  </div>
  <div class="card w-50" style="margin-top:3%">
    <div class="card-body">
      <h5 class="card-title">You Already Applied ?</h5>
      <p class="card-text">Click to know the latest status</p>
      <app-credit-inquiry></app-credit-inquiry>
    </div>
  </div>






</div>