<a class="btn btn-info" href="/panel/credit/list" style="margin: 2%;">Back To List</a>
<!--credit update form-->
<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Update Credit</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="creditUpdateForm">
          <div class="mb-3">
            <label for="creditAmount">Credit Amount</label>
            <div class="form-group">
              <input type="number" id="creditAmount" formControlName="creditAmount" class="form-control"
                placeholder="Credit Amount" />
            </div>
          </div>
          <div class="mb-3">
            <label for="creditAmount">Customer Id</label>
            <div class="form-group">
              <input type="number" id="customerId" formControlName="customerId" class="form-control"
                placeholder="customer Id" />
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button *ngIf="!loading" class="btn btn-fill btn-primary" (click)="update()"
          [disabled]="creditUpdateForm.invalid">Update</button>
        <button *ngIf="loading" class="btn btn-primary" type="button" disabled>
          <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
          Updating...
        </button>
      </div>
    </div>
  </div>
</div>