<header class="bd-header bg-light py-3 d-flex align-items-stretch border-bottom border-dark">
  <div class="container-fluid d-flex align-items-center">
    <h1 class="d-flex align-items-center fs-4 text-green mb-0">
      <a href="/#"><img src="https://cdn-icons-png.flaticon.com/512/1611/1611179.png" width="52"
          height="48" class="me-3" alt="CreditCenter"></a>
      Credit Center
    </h1>
  
  </div>
  <div class="btn-group" role="group"  style="margin: 1%;">
    <a type="button" class="btn btn-success" href={{swaggerLink}}>Swagger</a>
    <a type="button" class="btn btn-warning" href='/panel'>Employee Panel</a>
  </div>
</header>
